body { 
	padding-top: 70px;
	margin-bottom: 50px; 
}

.navbar-brand {
	font-family: 'Lobster', cursive !important;
	font-size: 30px;
}

.navbar-btn {
	margin-right: 15px;
}

button a {
	color: black;
}

button a:hover {
	color: black;
}

h1, h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif !important;
}

.footer-style {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #101010;
}

.footer-style p {
	margin: 10px;
}

/*Visualizações*/
.col-lg-4 {
	padding-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

li button {
	margin-left: 15px;
}

/*-- Login CSS --*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background-color: white !important;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-primary {  
    background-color: #444;
    border: none;
}

.btn-primary:hover {  
    background-color: #666;
}

.control-label {
    text-align: left;
    margin-bottom: 0;
    padding-top: 7px !important;
}

.col-sm-2, .col-sm-10 {
    padding: 0px;
}